services:
  proxy:
    container_name: proxy
    init: true
    env_file:
      - .env
    build: 
      context: backend/proxy
    networks:  
      - transcendence
    ports:
      - 8080:8080
    volumes:
      - ./backend/proxy/data:/data
      - ./frontend/:/frontend
    restart: always
    
  authenticate:
    container_name: authenticate
    init: true
    env_file:
      - .env
    build: 
      context: backend/authenticate
    expose:
      - 3000
    networks:  
      - transcendence
    volumes:
      - ./backend/authenticate/data:/data
    restart: always
  
  user:
    container_name: user
    init: true
    env_file:
      - .env
    build:
      context: backend/user
    expose:
      - 3000
    networks:  
      - transcendence
    volumes:
      - ./backend/user/data:/data
    restart: always
  
  game:
    container_name: game
    init: true
    env_file:
      - .env
    build:
      context: backend/game
    expose:
      - 3000
    networks:  
      - transcendence
    volumes:
      - ./backend/game/data:/data
    restart: always
  chat:
    container_name: chat
    init: true
    env_file:
      - .env
    build:
      context: backend/chat
    expose:
      - 3000
    networks:  
      - transcendence
    volumes:
      - ./backend/chat/data:/data
    restart: always

  frontend:
    container_name: frontend
    init: true
    env_file:
      - .env
    build:
      context: frontend
    expose:
      - 3000
    networks:  
      - transcendence
    volumes:
      - ./frontend/data:/data
    restart: always


networks:
  transcendence:
    driver: bridge