services:
  proxy:
    container_name: proxy
    build: backend/proxy
    init: true
    env_file:
      - .env
    networks:  
      - transcendence
    ports:
      - 8080:8080
    volumes:
      - ./backend/proxy/data:/data
      - ./frontend/:/frontend
    restart: always
    
  authenticate:
    container_name: authenticate
    build: backend/authenticate
    init: true
    env_file:
      - .env
    expose:
      - 3000
    networks:  
      - transcendence
    volumes:
      - ./backend/authenticate/data:/data
    restart: always
  
  user:
    container_name: user
    build: backend/user
    init: true
    env_file:
      - .env
    expose:
      - 3000
    networks:  
      - transcendence
    volumes:
      - ./backend/user/data:/data
    restart: always
  
  game:
    container_name: game
    build: backend/game
    init: true
    env_file:
      - .env
    expose:
      - 3000
    networks:  
      - transcendence
    volumes:
      - ./backend/game/data:/data
    restart: always
  chat:
    container_name: chat
    build: backend/chat
    init: true
    env_file:
      - .env
    expose:
      - 3000
    networks:  
      - transcendence
    volumes:
      - ./backend/chat/data:/data
    restart: always

networks:
  transcendence:
    driver: bridge